/* reset add */

a{
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

button:hover, a:hover{
    cursor: pointer;
}
/* _______________________________
_______H E A D E R _______________
________________________________ */

header{
    background-color: #ffc017;
    border-bottom: #191919 solid 1px;
    
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5em 10em 1em;
    border-bottom: #191919 solid 1px;
    position: fixed;
    top: 0;
    z-index: 1000; 
    width: 100%;
    background-color: #ffc017;
    transition: background-color 0.6s ease; 
}

header nav div span{
    margin-right: 1.5em;
}

header nav div span a{
    color: #191919;
    font-size: 0.9rem;
}

header nav div button, .hero-section div button{
    background-color: #191919;
    font-weight: 500;
    width: 8em;
    height: 3em;
    border-radius: 2em;
    border-style: none;
}

header nav div button a, .hero-section div button a{
    color: aliceblue;
}

/* _________________________________
_________  H  E  R  O ______________
__________________________________ */

.hero-section{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.hero-section div{
    margin-left: 10em;
    align-self: center;
}

.hero-section div h1 {
    font-family: "Spectral", serif;
    font-size: 7rem;
    margin-bottom: 0.3em;
    letter-spacing: -0.07em;
}

.hero-section div p{
    font-size: 1.8rem;
    margin-bottom: 1em;
    max-width: 70%;
}

.hero-section div button {
    width: 16em;
}

.hero-section div button a{
    font-size: 1.2rem;
}


/* ---------------------------------------------------
----------------   M   A  I  N   ---------------------
----------------------------------------------------- */

/*______________ TREND SECTION ___________________________*/
.trend-section{
    border-bottom: #72727218 solid 2px;
    padding: 3em 10em;
}

.trend-title{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.trend-title img{
    margin-right: 0.6em;
}

.trend-title h2{
    font-weight: 500;
}

/* __________________ TREND CARD ________________________ */

.trend-content{
    display: flex;
    flex-wrap: wrap;
    margin-left: -2em;
}

.trend-content>div {
    width: 33%;
    display: flex;
}

.trend-content .num {
    font-size: 1.8rem;
    font-weight:800;
    opacity: 0.1;
    margin: 0 0.8em 1em 1em;
    min-height: 3.5em;
}

.author{
    display: flex;
    align-items: center;
    color: #9c9b9b;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0.3em 0;
}

.author img{
    width: 1.3em;
    border-radius: 0.2em;
    margin-right: 0.5em;
}

.author .brd-50, .articles-section article .author .brd-50{
    border-radius: 50%;
    border: 1px rgba(128, 128, 128, 0.293) solid;
}
    

.author a{
    color: #191919;
    margin: 0 0.3em;
}

.info{
    display: flex;
    align-items: center;
    color: #9c9b9b;
    font-weight: 500;
    font-size: 0.85rem;
}

.info span{
    margin: 0 0.2em
}
.info img{
    margin-left: 0.3em;
}

.trend-content h3{
    font-weight: 700;
    margin: 1em 0;
}

/* ____________________ E X P L O R E   S E C T I O N ______________ */


/* ----------------------------------------------------
------------ A  R  T  I  C  L  E  S -------------------
------------------------------------------------------*/
.explore-section {
    padding: 0 10em;
    display: flex;
}

.articles-section{
    width: 66%;
    padding-right: 3em;
}

.navigation-aside{
    width: 33%;
}

.articles-section article{
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
}

.articles-section>article>div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles-section article div p{
    width: 100%;
}

article>img{
    width: 14em;
    text-align: right;
    margin: 0 2em;
    object-fit: cover;
}

.articles-section article button{
    border: none;
    border-radius: 5em;
    padding: 0.2em 1em 0.3em;
    color: grey;
    background-color: #cacaca42;
    margin: 0.5em;
}


.articles-section>article>div>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articles-section>article>div>div>div{
    display: flex;
    flex-direction: row;
}

.articles-section>article>div>div>img:hover{
    cursor: pointer;
}

.articles-section h3{
    font-weight: 900;
    font-size: 1.35rem;
    line-height: 1.2em;
}

.articles-section p{
    color: #7f7f7f;
    line-height: 1.2em;
    font-size: 1em;
}

article h3:hover{
    cursor: pointer;
}

/* ----------------------------------------------------
-------------------  A  S  I  D  E  -------------------
------------------------------------------------------*/

aside{
    margin-top:3em;
}

aside h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

/* i bottoni con js potrebbero applicare un filter agli 
articoli per poi riempire dinamicamente
la pagina */

aside button{
    background-color: rgb(255, 255, 255);
    border: #7f7f7f3b 1px solid;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    margin: 0.3em 0.2em; 
    color: #5f5f5f;
    font-family: "Roboto", sans-serif;
}

aside div div{
    padding: 1em 0 1.5em;
    margin: 0 0 1.4em;
    border-bottom: #72727218 solid 2px;
}

/* ----------------------------------------------------------
------------------  F  O  O  T  E  R ------------------------
------------------------------------------------------------ */
.big-foot{
    display: flex;
    flex-wrap: wrap;
}

.big-foot a{
    color: #5f5f5f;
    font-size: 0.9rem;
    margin: 0 1.4em 0.8em 0;
}


.small-foot{
    display: none;
}




/* ------------------ ANIMATION ---------------------------- */

header.scrolled nav{
    background-color: #ffffff;
    border-bottom: #191919 solid 1px;
}

header.scrolled nav div span a {
    color: #191919;
}

header.scrolled nav div button{
    background-color: #06d6a0; 
}

header.scrolled nav div button a{
    color: #ffffff; 
}


/* _____________________________________________________________
_______________  M  E  D  I  A    Q  U  E  R  I  E  S ___________
________________________________________________________________ */

@media  screen and (max-width: 1400px) {
    header nav{
        padding: 1.5em 3em 1em;
    }
    
    .hero-section div {
        margin-left: 3em;
    }

    .trend-section {
        padding: 3em 1em 3em 3em;
    }

    .explore-section {
        padding: 0 3em;
    }

    .hero-section div {
        min-width: 550px;
    }

    .hero-section div p{
        min-width: 530px;
    }

    .trend-content > div {
        min-width: 400px;
    }

    .trend-content {
        justify-content: space-around;
    }

    .trend-content .info img{
        display: none;
    }

    .info {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1200px) {
    
    .explore-section {
        display: flex;
        flex-direction: column;
    }

    .articles-section {
        display: flex;
        flex-direction: column;
        order: 2;
        width: 100%;
        align-items: center;
        padding: 0px;
    }

    .articles-section article {
        display: flex;
        margin: 3em 0;
        max-width: 740px;
        width: 100%;
    }

    .navigation-aside {
        width: 100%;
        order: 1;
    }

    .big-foot{
        display: none;
    }

    .small-foot{
        display: block;
        background-color: #000000;
        padding: 2em;
    }

    .small-foot img{
        width: 200px;
        margin-bottom: 1em;
    }

    .small-foot div{
        width: 100%;
        padding-top: 1em;
        border-top: 1px solid white;
    }

    .small-foot div a{
        color: white;
        margin-right: 3em;
    }

    .small-foot div a:hover{
        color: #ffc017;
    }

    article>img{
        margin: 0 0 0 2em;
    }

    header nav{
        padding: 1.3em 1em;
    }
}

@media screen and (max-width: 640px){
    .articles-section p{
        display: none;
    }

    .articles-section article div div img{
        display: none;
    }

    .articles-section article>img{
        width: 10em;
    }

    header nav div span:nth-child(1){
        display: none;
    }

    header nav div span:nth-child(2){
        display: none;
    }

    header nav div span:nth-child(3){
        display: none;
    }

}

